In [100]:
import pandas as pd
import numpy as np

In [101]:
loans_2007 = pd.read_csv('loans_2007.csv')
loans_2007.drop_duplicates(inplace=True)
loans_2007.head()

/Users/vinhta/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [102]:
loans_2007.shape

(42538, 52)

**Columns that contains future information or leakage of information, as well as intangible meaning (ie: ID) that should be removed. Below are such examples.**

**id**: id purpose.

**member_id**: id purpose.

**funded_amnt**: future leakage (decided to be funded).

**funded_amnt_inv**: by investor, same as above. Future leakage (decided to be funded).

**grade**: overlapping with interest rate, we don't want double significance.

**sub_grade**: also overlapping data with interest rate.

**emp_title**: salary will take care of this. Painful for categorical.

**issue_d**: leak from the future, the month of which it was issued.

**zip_code**: not practical. We have state data.

**out_prncp**: outstanding principle, already started to accept the loan request.

**out_prncp_inv**: by investor, same as above, already accepted the loan request.

**total_pymnt**: data leakage, the loan has been paid.

**total_pymnt_inv**: by investor, same as above - leakage.

**total_rec_prncp**: principle received to date - leakage.

**total_rec_int**: interest received 'till now - leakage.

**total_rec_late_fee**: late fee receive 'till now - leakage

**recoveries**: charge off gross recoveries - leakage

**collection_recovery_fee**: charge off collection fee - leakage

**last_pymnt_d**: last month of payment - leakage

**last_pymnt_amnt**: last payment amount - leakage

In [103]:
#removing the columns stated above
col_rmv = ["id","member_id","funded_amnt","funded_amnt_inv","grade","sub_grade","emp_title","issue_d","zip_code","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt"]
loans_2007.drop(columns=col_rmv,axis=1,inplace=True)
print(loans_2007.shape)
loans_2007.columns

(42538, 32)

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [104]:
loans_2007["loan_status"].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

Based on the given unique values, we would need to convert these things to a binary value of loan/no loan given. From the unique values there are 3 "major" areas:
1. loans that are fully paid (1)
2. loans that are charged off (0) - no longer expecting payment
3. Others.

We'll exclude the option #3, others - because of 2 issues: 
1. It's not reasonable to expect a machine learning algorithm to predict anything with substantially small data.
2. If the borrowers don't qualify for today (which we're trying to mimmic), we can't loan them out anyways.

In [105]:
loans_2007 = loans_2007[(loans_2007["loan_status"] == "Fully Paid") | (loans_2007["loan_status"] == "Charged Off")].copy()
print(loans_2007.loan_status.value_counts())

#converting labels to either 1/0 (good/bad). Throw away option 3.
def target_conv(row):
    if row == "Fully Paid":
        return 1
    return 0

loans_2007["loan_status"] = loans_2007["loan_status"].apply(target_conv)
print(loans_2007.loan_status.value_counts())

Fully Paid     33136
Charged Off     5634
Name: loan_status, dtype: int64
1    33136
0     5634
Name: loan_status, dtype: int64

In [106]:
drop_cols = list()
cols = loans_2007.columns

for i in cols:
    #single value attribute won't contribute into our learning/model.
    temp = loans_2007[i].dropna().unique()
    if len(temp) <= 1: 
        print(temp,i)
        drop_cols.append(i)
drop_cols

['n'] pymnt_plan
['f'] initial_list_status
[0.] collections_12_mths_ex_med
[1.] policy_code
['INDIVIDUAL'] application_type
[0.] acc_now_delinq
[0.] chargeoff_within_12_mths
[0.] delinq_amnt
[0.] tax_liens

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [107]:
loans_2007.drop(drop_cols,axis=1,inplace=True)
loans_2007.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')

In [108]:
loans_2007.isnull().sum()

loan_amnt                  0
term                       0
int_rate                   0
installment                0
emp_length              1036
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
title                     11
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
last_credit_pull_d         2
pub_rec_bankruptcies     697
dtype: int64

It is quite important to have a known employment length as our parameter (if someone's unemployed, it defeats our purpose of lending the money). Better be safe than sorry. We'll remove the **column** "pub_rec_bankruptcies" and **rows** of missing data from the "title","revol_util", and "last_credit_pull_d"

In [109]:
loans_2007.drop(["pub_rec_bankruptcies"],axis=1,inplace=True)
loans_2007.dropna(axis = 0,inplace=True)
print(loans_2007.shape)
loans_2007.isnull().sum()

(37675, 22)

loan_amnt              0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
title                  0
addr_state             0
dti                    0
delinq_2yrs            0
earliest_cr_line       0
inq_last_6mths         0
open_acc               0
pub_rec                0
revol_bal              0
revol_util             0
total_acc              0
last_credit_pull_d     0
dtype: int64

In [110]:
#only select object dtypes columns
loans_obj = loans_2007.select_dtypes(include=['object'])
loans_obj.dtypes

term                   object
int_rate               object
emp_length             object
home_ownership         object
verification_status    object
purpose                object
title                  object
addr_state             object
earliest_cr_line       object
revol_util             object
last_credit_pull_d     object
dtype: object

In [111]:
loans_obj.head(10)

,term,int_rate,emp_length,home_ownership,verification_status,purpose,title,addr_state,earliest_cr_line,revol_util,last_credit_pull_d
0,36 months,10.65%,10+ years,RENT,Verified,credit_card,Computer,AZ,Jan-1985,83.7%,Jun-2016
1,60 months,15.27%,< 1 year,RENT,Source Verified,car,bike,GA,Apr-1999,9.4%,Sep-2013
2,36 months,15.96%,10+ years,RENT,Not Verified,small_business,real estate business,IL,Nov-2001,98.5%,Jun-2016
3,36 months,13.49%,10+ years,RENT,Source Verified,other,personel,CA,Feb-1996,21%,Apr-2016
5,36 months,7.90%,3 years,RENT,Source Verified,wedding,My wedding loan I promise to pay back,AZ,Nov-2004,28.3%,Jan-2016
6,60 months,15.96%,8 years,RENT,Not Verified,debt_consolidation,Loan,NC,Jul-2005,85.6%,May-2016
7,36 months,18.64%,9 years,RENT,Source Verified,car,Car Downpayment,CA,Jan-2007,87.5%,Dec-2014
8,60 months,21.28%,4 years,OWN,Source Verified,small_business,Expand Business & Buy Debt Portfolio,CA,Apr-2004,32.6%,Aug-2012
9,60 months,12.69%,< 1 year,RENT,Verified,other,Building my credit history.,TX,Sep-2004,36.5%,Mar-2013
10,60 months,14.65%,5 years,OWN,Not Verified,debt_consolidation,High intrest Consolidation,AZ,Jan-1998,20.6%,Dec-2015

It seems that only "int_rate" and "revol_util" are continuous, others look like categorical. Let's confirm that with unique() method. The dates related data such as "earliest_cr_line" and "last_credit_pull_d" are not practical to be used with - due to decades long range, this might give a curse of dimensionality issue, thus needing more data.

In [112]:
loans_obj.drop(["earliest_cr_line","last_credit_pull_d"],axis=1,inplace=True)
for col in loans_obj.columns:
    if (col != "int_rate") and (col != "revol_util"):
        print(loans_obj[col].unique())

[' 36 months' ' 60 months']
['10+ years' '< 1 year' '3 years' '8 years' '9 years' '4 years' '5 years'
 '1 year' '6 years' '2 years' '7 years']
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']
['Verified' 'Source Verified' 'Not Verified']
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
['Computer' 'bike' 'real estate business' ... 'Retiring credit card debt'
 'MBA Loan Consolidation' 'JAL Loan']
['AZ' 'GA' 'IL' 'CA' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA' 'MN'
 'NJ' 'OR' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'KS' 'NV' 'AK'
 'CO' 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'HI' 'OK' 'MT' 'WY'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME']

/Users/vinhta/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [113]:
print(loans_obj.columns)
print(loans_obj["purpose"].value_counts()) #can we categorize this? If the "purpose" column doesn't have too many categories.
print(loans_obj["title"].value_counts()) #same as above

Index(['term', 'int_rate', 'emp_length', 'home_ownership',
       'verification_status', 'purpose', 'title', 'addr_state', 'revol_util'],
      dtype='object')
debt_consolidation    17751
credit_card            4911
other                  3711
home_improvement       2808
major_purchase         2083
small_business         1719
car                    1459
wedding                 916
medical                 655
moving                  552
house                   356
vacation                348
educational             312
renewable_energy         94
Name: purpose, dtype: int64
Debt Consolidation                       2068
Debt Consolidation Loan                  1599
Personal Loan                             624
Consolidation                             488
debt consolidation                        466
                                         ...
Cosolidate debt                             1
Debt Consolidation & Home Improvement       1
msg                                         1
Chase Credit Card Consolidation             1
reinvest                                    1
Name: title, Length: 18881, dtype: int64

In [114]:
#mapping of employment length to turn this into numerical
mapping = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}
loans_2007.replace(mapping,inplace=True)

#making dummy variables for these columns below would prove to make our df too big to handle
#we'll keep the purpose column since it's manageable for our dummy variables
loans_2007.drop(columns=["last_credit_pull_d","addr_state","title","earliest_cr_line"],inplace=True) 

#converting both "int_rate" and "revol_util" into float
loans_2007['int_rate'] = loans_2007['int_rate'].str.rstrip('%')
loans_2007['int_rate'] = loans_2007['int_rate'].astype('float')
#print(loans['int_rate'].head())

loans_2007['revol_util'] = loans_2007['revol_util'].str.rstrip('%')
loans_2007['revol_util'] = loans_2007['revol_util'].astype('float')
#print(loans['revol_util'].head())

In [115]:
dummy_df = pd.get_dummies(loans_2007[['home_ownership','verification_status', 'purpose', 'term']])#2dim

loans_2007 = pd.concat([loans_2007,dummy_df],axis=1)
#drop the original cols
loans_2007.drop(['home_ownership','verification_status', 'purpose', 'term'],axis=1,inplace=True)

In [116]:
loans_2007.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,...,0,0,0,1,0,0,0,0,1,0
5,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,...,0,0,0,0,0,0,0,1,1,0

In [117]:
loans_2007.to_csv("processed_loans_2007.csv")